.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  transition: all 0.4s ease;

  &.fixed {
    background: #fff;

    .header-body__burger {
      span {
        background-color: #131411;
      }
    }
    .header-body__link {
      color: #000;
    }
  }

  &_light {
    transition: all 0.4s ease 0.1s;
    .header-body__logo {
      svg {
        path {
          fill: #fafafa;

          &._logo-svg {
            stroke: #fafafa;
          }
        }
      }
    }
    .header-body__link {
      color: #fafafa;
    }
    .header-body__burger {
      span {
        background-color: #fafafa;
      }
    }
    &._open {
      .header-body__burger {
        span {
          background-color: #131411;
        }
      }
      background-color: #fafafa;
    }
  }

  &._open {
    .header-body {
      &::after {
        width: 100%;
      }

      &__burger {
        span {
          &:nth-child(1) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:nth-child(2) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
          &:nth-child(3) {
            transform: translate(100%, 0) scale(0);
          }
        }
      }
    }

    .header-menu {
      transform: translate(0);
      opacity: 1;
      visibility: visible;
      pointer-events: unset;

      &__links {
        &-item {
          opacity: 1;
          transform: translate(0);
        }
      }

      &__info {
        &::after {
          width: 100%;
        }

        &-title {
          opacity: 1;
          transform: translate(0);
        }

        &-item {
          opacity: 1;
          transform: translate(0);
        }

        &-links {
          opacity: 1;
          transform: translate(0);
        }
      }
    }
  }

  &-body {
    position: relative;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      padding: 20px 0;
    }

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 0%;
      background-color: #131411;
      position: absolute;
      left: 0;
      bottom: 0;

      transition: all 0.4s ease;
    }

    &__logo {
      width: 122px;

      svg {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__link {
      cursor: pointer;
      color: #000;
      font-size: 20px;
      text-transform: uppercase;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    &__burger {
      position: relative;
      display: none;
      width: 40px;
      height: 22px;

      @media (max-width: 1200px) {
        display: block;
      }

      span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #131411;

        transition: all 0.5s ease;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%);
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
  }

  &-menu {
    position: absolute;
    z-index: -1;
    top: 80px;
    width: 100%;
    background: #fff;
    height: 100vh;

    display: none;

    padding: 0 0 50px;
    overflow-y: auto;

    transform: translate(-100%, 0%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.4s ease 0.2s;

    @media (max-width: 1200px) {
      display: block;
    }

    @media (max-width: 767px) {
      top: 80px;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      padding: 50px 0 60px;

      @media (max-width: 767px) {
        flex-direction: column;
        padding: 40px 0;
      }

      &-item {
        flex: 0 0 calc(50%);

        color: #000;
        font-size: 24px;
        text-transform: uppercase;

        opacity: 0;
        transform: translate(-50%, 0);
        transition: all 0.8s ease;

        &:not(:first-child) {
          margin: 24px 0 0;
        }

        &:nth-child(1),
        &:nth-child(2) {
          margin: 0;
        }

        @media (max-width: 767px) {
          flex: 0 0 100%;

          &:not(:first-child) {
            margin: 24px 0 0 !important;
          }
        }
      }
    }

    &__info {
      display: flex;
      position: relative;
      padding: 60px 0;

      @media (max-width: 767px) {
        padding: 40px 0 60px;
        flex-direction: column;
      }

      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 0%;
        background-color: #131411;
        position: absolute;
        left: 0;
        top: 0;

        transition: all 1s ease;
      }

      &-col {
        flex: 0 0 50%;

        @media (max-width: 767px) {
          flex: 0 0 100%;

          &:not(:first-child) {
            margin: 38px 0 0;
          }
        }
      }

      &-title {
        color: #131411;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-transform: uppercase;
        margin: 0 0 22px;

        opacity: 0;
        transform: translate(-50%, 0);
        transition: all 1s ease;
      }

      &-item {
        color: #131411;
        font-size: 20px;
        line-height: 28px;

        opacity: 0;
        transform: translate(-50%, 0);
        transition: all 1s ease;

        &:not(:first-child) {
          margin: 12px 0 0;
        }

        a {
          color: #131411;

          &:hover {
            text-decoration-line: underline;
          }
        }
      }

      &-links {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        color: #131411;
        font-family: Cormorant;
        font-size: 20px;
        line-height: 28px;

        opacity: 0;
        transform: translate(-50%, 0);
        transition: all 1s ease;

        a {
          cursor: pointer;
          color: #131411;
          text-decoration-line: underline;
          &:hover {
            text-decoration-line: none;
          }
        }
        span {
        }
      }
    }
  }
}
