<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <div class="footer-col">
        <div class="footer-body__logo">
          <img src="./img/footer/logo.svg" alt="">
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-body__logo">
          <img src="./img/footer/logo.svg" alt="">
        </div>
        <div class="footer-body__cr">
          <div class="footer-body__cr-item">
            2023 © ES Gallery
          </div>
          <div class="footer-body__cr-item">
            ИП Сафарова Элина Асгатовна
          </div>
          <div class="footer-body__cr-item">
            ИНН 166013110080
          </div>
          <a href="" class="footer-body__cr-item">
            Политика конфиденциальности
          </a>
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-body__title">
          навигация
        </div>
        <div class="footer-body__links">
          <a href="" class="footer-body__links-item">
            Главная страница
          </a>
          <a href="" class="footer-body__links-item">
            О нас
          </a>
          <a href="" class="footer-body__links-item">
            Мастерские
          </a>
          <a href="" class="footer-body__links-item">
            Выставки и события
          </a>
          <a href="" class="footer-body__links-item">
            Художники
          </a>
          <a href="" class="footer-body__links-item">
            Пресса
          </a>
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-body__title">
          контакты
        </div>
        <div class="footer-body__info">
          <div class="footer-body__info-item">
            Телефон: <a href="tel:+79178620551">+7 917 862-05-51</a>
          </div>
          <div class="footer-body__info-item">
            Место: Казань, Островского, 98
          </div>
          <div class="footer-body__info-item footer-body__info-item_email">
            Email: <a href="mailto:esgallerystudios@gmail.com">esgallerystudios@gmail.com</a>
          </div>
        </div>
        <div class="footer-body__title">
          социальные сети
        </div>
        <div class="footer-body__social">
          <a href="">
            Telegram
          </a>
          <a href="">
            VK
          </a>
          <span>
            @es_gallerystudios
          </span>
        </div>
        <div class="footer-watermark">
          <div class="footer-watermark__text">
            Разработано студией <br> digital-маркетинга:
          </div>
          <div class="footer-watermark__logo">
            <img src="./img/footer/watermark-logo.svg" alt="">
          </div>
        </div>
      </div>
      <div class="footer-col">

        <div class="footer-watermark">
          <div class="footer-watermark__text">
            Разработано студией <br> digital-маркетинга:
          </div>
          <div class="footer-watermark__logo">
            <img src="./img/footer/watermark-logo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>