<header class="header header_light">
	<div class="header-menu">
		<div class="container">
			<div class="header-menu__links">
				<a href="" class="header-menu__links-item">
					Выставки и события
				</a>
				<a href="" class="header-menu__links-item">
					художники
				</a>
				<a href="" class="header-menu__links-item">
					о нас
				</a>
				<a href="" class="header-menu__links-item">
					Пресса
				</a>
				<a href="" class="header-menu__links-item">
					мастерские
				</a>
				<a href="" class="header-menu__links-item">
					Контакты
				</a>
			</div>
			<div class="header-menu__info">
				<div class="header-menu__info-col">
					<div class="header-menu__info-title">
						контакты
					</div>
					<div class="header-menu__info-item">
						Телефон: <a href="tel:+79876543210">+7 987 654-32-10</a>
					</div>
					<div class="header-menu__info-item">
						Адрес: ул. Название, д. 10
					</div>
					<div class="header-menu__info-item">
						Email: <a href="mailto:yourmail@domain.ru">yourmail@domain.ru</a>
					</div>
				</div>
				<div class="header-menu__info-col">
					<div class="header-menu__info-title">
						социальные сети
					</div>
					<div class="header-menu__info-links">
						<a href="">Telegram</a>
						<a href="">VK</a>
						<span>@es_gallerystudios</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header-body">
			<div class="header-body__logo">
				<img src="./img/header/logo.svg" alt="">
			</div>
			<a href="" class="header-body__link">Выставки и события</a>
			<a href="" class="header-body__link">о нас</a>
			<a href="" class="header-body__link">мастерские</a>
			<a href="" class="header-body__link">художники</a>
			<a href="" class="header-body__link">Пресса</a>
			<a href="" class="header-body__link">Контакты</a>
			<div class="header-body__burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>