.main {
  &-body {
    position: relative;
    height: 100vh;

    &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 767px) {
        top: calc(50% - 36px);
      }

      img {
        &:nth-child(2) {
          margin: 0 0 0 -13px;
        }

        @media (max-width: 767px) {
          height: 83px;

          &:nth-child(2) {
            margin: 0 0 0 -10px;
          }
        }
      }
    }

    &__video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;

      width: 0;
      height: 449px;

      @media (max-width: 1200px) {
        height: 515px;
      }
      @media (max-width: 767px) {
        height: 214px;
      }

      video {
        width: calc(100%);
        height: calc(100%);
        object-fit: cover;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
      }
    }
  }
}
