.event_top {
  padding: 0 0 50px;

  @media (max-width: 1200px) {
    padding: 20px 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0 0 40px;

    .container {
      padding: 0;
    }
  }

  &-body {
    display: flex;
    align-items: center;

    @media (max-width: 1200px) {
      align-items: unset;
      flex-direction: column;
    }

    &__img {
      flex: 1 1 100%;
      width: 100%;
      max-width: 636px;
      position: relative;

      @media (max-width: 1200px) {
        flex: 0 0 auto;
        max-width: 100%;
        height: 400px;
      }

      @media (max-width: 767px) {
        height: 240px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media (max-width: 1200px) {
          object-fit: cover;
        }
      }
    }
    &__content {
      margin: 0 0 0 110px;

      @media (max-width: 1200px) {
        margin: 65px 0 0;
      }

      @media (max-width: 767px) {
        margin: 40px 0 0;
        padding: 0 20px;
      }

      &-date {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 24px;
        line-height: 1.2;

        @media (max-width: 1200px) {
          font-size: 20px;
        }

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
      &-title {
        margin: 16px 0 0;

        color: #000;
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: 0.96px;
        text-transform: uppercase;

        @media (max-width: 1200px) {
          font-size: 40px;
          letter-spacing: normal;
        }
        @media (max-width: 767px) {
          font-size: 32px;
        }
      }
      &-text {
        margin: 120px 0 0;
        color: #000;
        font-size: 24px;
        line-height: 1.2;
        max-width: 480px;

        @media (max-width: 1200px) {
          margin: 64px 0 0;
          max-width: 576px;
          font-size: 20px;
        }
        @media (max-width: 767px) {
          margin: 48px 0 0;
          font-size: 18px;
        }
      }
    }
  }
}
