// -------- imports --------
@import '../../node_modules/swiper/swiper.scss';
// @import '../../node_modules/swiper/modules/pagination.scss';
@import '../../node_modules/swiper/modules/navigation.scss';

@import 'fonts';
@import 'components/_fonts';
@import 'components/_normalize.scss';
@import 'components/_mixins.scss';
@import 'components/_variables.scss';
@import 'components/_variables.scss';
@import 'components/_fancybox.scss';
@import 'components/_header.scss';
@import 'components/_footer.scss';
@import 'components/_ui.scss';
@import 'components/_aos.scss';
@import 'components/preloader.scss';
@import 'pages/index/_main.scss';
@import 'pages/index/_events.scss';
@import 'pages/index/_gallery.scss';
@import 'pages/index/_location.scss';
@import 'pages/index/_callback.scss';
@import 'pages/press/_index.scss';
@import 'pages/press/_press-item.scss';
@import 'pages/events/_top.scss';
@import 'pages/events/_index.scss';
@import 'pages/events/_events-card.scss';
@import 'pages/contacts/_info.scss';
@import 'pages/events-inner/_top.scss';
@import 'pages/events-inner/_about.scss';
@import 'pages/events-inner/_program.scss';
@import 'pages/events-inner/_artist.scss';
@import 'pages/workshop/_top.scss';
@import 'pages/workshop/_info.scss';
@import 'pages/workshop/_video.scss';
@import 'pages/aboutus/_slider.scss';
@import 'pages/aboutus/_who.scss';
@import 'pages/aboutus/_events.scss';
@import 'pages/aboutus/_workshop.scss';
@import 'pages/artists/_index.scss';
@import 'pages/_policy.scss';
@import 'pages/_404.scss';

// fonts --------- &display=swap || &subset=cyrillic-ext
// throught plugin

::selection {
}

body {
  font-family: Cormorant, sans-serif;
  background: #fafafa;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1372px;
  margin: 0 auto;
  padding: 0 36px;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;

  &.padding-top {
    padding: 80px 0 0;
    @media (max-width: 767px) {
      padding: 70px 0 0;
    }
  }
}

._sitemap {
  height: 100vh;
  padding: 50px 0;
  background-color: rgb(58, 58, 58);

  &-con {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 767px) {
      padding: 0 50px;
    }
  }
  &-body {
    ol {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;

        @media (max-width: 767px) {
          font-size: 22px;
        }

        &:not(:first-child) {
          margin: 15px 0 0;
        }
      }
    }

    &__item {
      color: #fff;
      transition: all 0.3s;

      &:hover {
        color: rgb(179, 203, 255);
      }
    }
  }
}
